body {
  zoom:110%;
}
h1 {
  font-family: 'Libre Franklin';
  font-size: 3rem;
  margin-bottom: .5rem;
  text-align: center;
  /* text-transform: uppercase; */
  font-weight: 200;
  color: #12232F;
}
h2 {
  font-family: 'Libre Franklin';
  font-weight: 400;
  font-size: 2rem;
  color: #12232F;
  text-align: center;
}
h3 {
  font-family: 'Yantramanav';
  font-weight: 300;
  font-size: 1.4rem;
}
h4 {
  font-family: 'Yantramanav';
  font-size: 1.2rem;
  margin-bottom: .125rem;
}
h5 {
  font-family: 'Yantramanav';
  font-weight: 300;
  font-size: 1rem;
  margin-bottom: .25rem;
  /* font-style: italic; */
}
p {
  font-family: 'Work Sans';
  font-weight: 300;
  font-size: .9rem;
  margin-bottom: 0;
}
/** backgrounds **/
#background1 {
  background-color: #12232F;
  background-image: -webkit-linear-gradient(87.5deg, #12232F 50%, white 50%);
  min-height: 20vh;
}
.dots {
  /* position: fixed; */
  background-image: linear-gradient(to right, #12232F 10%, transparent 0%);
  padding: 12px 10%;
  margin: 0 auto;
  margin-bottom: 2.5%;
  padding-bottom: 2.5%;
  background-position: top;
  background-size: 24px 2px;
  background-repeat: repeat-x;
  max-width: 10%;
}
/** navigation **/
nav {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 300;
  background-color: #12232F;
  z-index: 3;
  transition: background-color 0.5s ease-out;
}
.navbar {
  padding: 0 7.5%;
  height: 3.5rem;
  padding-bottom: .5rem;
}
.navbar-collapse {
  background-color: #12232F;
  color: white;
  transition: background-color 0.5s ease-out;
  max-height: none;
  height: 0rem;
  -webkit-transition: height .5s;
  transition: height .5s;
  border: 1px solid transparent;
}
.navbar-brand {
  margin-top: .5rem;
  padding-bottom: 0;
  font-family: 'Yantramanav', sans-serif;
  font-weight: 400;
}
li.nav-item {
  height: 2rem;
}
.navbar-dark .navbar-nav a.nav-link {
  font-size: .875rem;
  padding: 0 1rem;
  margin-top: -.5rem;
  padding-top: .875rem;
  border-top: .25rem solid transparent;
  color: white;
}
.navbar-dark .navbar-nav a.nav-link:hover {
  border-top: .25rem solid white;
}
.navbar-collapse.collapse.collapsing a.nav-link:hover,
.navbar-collapse.collapse.show a.nav-link:hover {
  border-top: .25rem solid transparent;
}
.navbar-collapse.collapse.collapsing,
.navbar-collapse.collapse.show {
  height: 11rem;
  border-bottom: 1px solid rgba(0,0,0,.25);
  border-radius: 5px;
}
.fa-bars {
  position: relative;
  margin-top: 1rem;
  top: -.25rem;
  width: 1.375rem;
  height: 1.5rem;
}
.navbar-toggler,
.navbar-toggler:focus {
  border: none;
  box-shadow: none;
  outline: none;
}
.scrolled {
  background-color: white;
  transition: background-color 0.5s ease-out;
}
.navbar.scrolled  {
  border-bottom: .5px solid rgba(0,0,0,.25);
}
.navbar-nav.scrolled,
.navbar-nav.scrolled a.nav-link {
  background-color: transparent;
  color: rgba(0,0,0,.75);
}
.navbar-nav.scrolled a.nav-link:hover {
  color: #12232F;
  border-top: .25rem solid #12232F;
}
.navbar-collapse.scrolled {
  max-height: none;
  height: 0rem;
  -webkit-transition: height .5s;
  transition: height .5s;
}
.scrolled .fa-bars {
  color: #12232F;
}
/** opening section **/
section#head {
  margin-top: 0;
  padding-top: 0;
}
#profile-img {
  position: relative;
  display: block;
  margin: 0 auto;
  top: 6.5rem;
  width: 50%;
  max-width: 225px;
  border: 1.5px solid rgba(200,200,200,.75);
}
#head h1 {
  margin-top: calc(3.5rem + 45px);
}
#profile-summary {
  width: 100%;
}
@media screen and (min-width: 576px) {
  #profile-summary {
    width: 75%;
  }
}
@media screen and (min-width: 768px) {
  #profile-summary {
    width: 50%;
  }
}
a,
.icon {
  color: rgba(120,120,120,.75);
}
a:hover,
.icon:hover {
  color: #12232F;
  transition: .25s;
}
#profile-links .icon {
  font-size: 32px;
  margin: 0 16px;
}
/** feature **/
section#feature {
  margin-top: 3rem;
  padding-top: 0;
}
#feature h4 {
  font-size: 1rem;
  margin-bottom: .25rem;
}
#feature h5 {
  font-size: .9rem;
  font-weight: 200;
}
#feature .feature-entry img {
  margin-bottom: 1rem;
  width: 100%;
  height: 10rem;
  object-fit: cover;
  border: 1.5px solid rgba(200,200,200,.75);
}
/** about **/
#head h3, #about h3, #portfolio h3 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 200;
}
.logo-setting {
  display: flex;
  align-items: center;
  height: 3.25rem;
  margin-bottom: .75rem;
}
.logo {
  height: 2.75rem;
  width: 2.75rem;
  margin-right: .75rem;
  border: 1px solid transparent;
  border-image: linear-gradient(to right, transparent, transparent);
  border-image-slice: 1 !important;
}
.inactive {
  opacity: .6;
}
/** portfolio **/
#portfolio h4 {
  margin-top: .375rem;
  margin-bottom: .375rem;
}
.project {
  position: relative;
  height: 17.5rem;
  background-image: none;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  box-sizing: border-box;
  border: 1px solid rgba(240,240,240,.75);
  border-radius: 1px;
}
.project-description {
  position: absolute;
  background-color: rgba(255,255,255,.875);
  padding: .75rem 1.5rem;
  padding-bottom: .5rem;
  bottom: 0;
  width: 100%;
}
.project .icon,
#links .icon {
  margin-top: .25rem;
  font-size: 20px;
}
.project .btn,
.project .btn:focus {
  padding: .125rem .5rem;
  font-family: 'Work Sans';
  font-weight: 300;
  font-size: 10px;
  box-shadow: none;
  color: rgba(120,120,120,.75);
}
.project .btn:hover {
  background-color: rgba(20,20,20,.75);
  color: white;
}
.project .btn-light {
  background-color: rgba(240,240,240,.9);
  border-color: transparent;
}
#links .icon {
  font-size: 30px;
  display: block;
  margin: .5rem auto;
}
#links div {
  margin-bottom: 1.25rem;
}
/** contact me **/
#contact p {
  line-height: 1.5rem;
  width: 90%;
}
@media screen and (min-width: 576px) {
  #contact p {
    width: 80%;
  }
}
@media screen and (min-width: 768px) {
  #contact p {
    width: 70%;
  }
}
/** footer **/
footer {
  padding-top: 4rem;
  bottom: 0;
  width: 100%;
  padding: 0 7.5%;
  background-color: #12232F;
}
.footer-dots {
  padding-top: 1rem;
  background-image: linear-gradient(to right, white 10%, transparent 0%);
  padding: 12px 0;
  background-position: top;
  background-size: 12px 2px;
  background-repeat: repeat-x;
}
footer p {
  padding-bottom: .5rem;
  font-family: 'Work Sans', sans-serif;
  font-size: .875rem;
  text-decoration: none;
}
.footer-icon p {
  font-size: 20px;
}
.container-fluid {
  margin-top: -50px;
}